/*======== Variables ========*/
/*===========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-contenedor {
  width: 100%;
  padding: 0 80px;
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

.header {
  width: 100%;
  height: 80vh;
  background-image: url("../img/bg-fondo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 16px;
  position: relative;
  grid-area: header;
}
.header__contenedor {
  width: 100%;
  margin: auto;
  height: auto;
  background-color: rgba(20, 58, 69, 0.573);
  transition: all 2s;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.header__logo {
  width: 150px;
  display: flex;
}
.header__imglogo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 5px;
}
.header__text {
  margin-top: 15px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 0.7em;
  font-family: "Roboto", sans-serif;
  color: white;
}
.header__input {
  display: none;
}
.header__nav {
  width: 100%;
  height: auto;
}
.header__nav-lista {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.header__nav-item {
  margin: 0;
  padding: 0;
}
.header__nav-enlace {
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1.3em;
  font-family: "Roboto", sans-serif;
  color: white;
}
.header__icono {
  display: none;
  font-size: 1.5em;
  line-height: 2.3em;
}
.header__texto {
  width: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.header__titulo {
  color: white;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 3em;
  animation: animate1;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.header__subtitulo {
  margin-top: -13px;
  color: white;
  font-size: 1em;
}

/*============================================ SECCION MAIN */
.main {
  width: 100%;
  background-color: rgb(249, 247, 247);
  grid-area: main;
}
.main .viajes {
  width: 100%;
  padding-bottom: 80px;
  text-align: center;
}
.main .viajes__subtitulo {
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1px;
}
.main .viajes__descripcion {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}
.main .viajes__contenedor {
  width: 80%;
  margin: 0;
  margin: auto;
}
.main .viajes__col-bostarp {
  padding: 0;
}
.main .viajes .articulo {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  padding: 5px 5px;
}
.main .viajes .articulo:hover {
  transform: scale(0.9);
}
.main .viajes .articulo__card {
  width: 100%;
  height: auto;
}
.main .viajes .articulo__img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}
.main .viajes .articulo__text {
  position: absolute;
  color: white;
  bottom: 0;
  left: 7px;
}
.main .descuentos {
  width: 100%;
  height: 340px;
  background-image: url(../img/pexels-eberhard-grossgasteiger-6439051.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.main .descuentos::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 340px;
  top: 0;
  background-color: rgba(14, 17, 35, 0.516);
}
.main .descuentos__texto {
  color: white;
  position: absolute;
  top: 0;
  z-index: 1;
  margin-top: 50px;
  margin-left: 40px;
}
.main .descuentos__porcentaje {
  font-size: 2em;
  font-weight: bolt;
}
.main .descuentos__parrafo {
  width: 65%;
  margin-top: 5px;
  line-height: 21px;
}
.main .mas-viajes {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
}
.main .mas-viajes__contenedor {
  text-align: center;
}
.main .mas-viajes__descripcion {
  width: 60%;
  margin: auto;
  margin-bottom: 40px;
}
.main .mas-viajes__articulos {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.main .mas-viajes__img {
  width: 100px;
  border: 2px solid white;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.main .busqueda {
  width: 100%;
  padding: 10px 0;
}
.main .busqueda__grupo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
.main .busqueda__subtitulo {
  font-size: 1.2em;
  font-weight: 200;
}
.main .busqueda__input {
  width: 350px;
  height: 35px;
  padding-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  border: 1px solid rgb(221, 220, 220);
}
.main .busqueda__icono {
  position: absolute;
  top: 0;
  left: 300px;
  color: grey;
}
.main .busqueda__boton {
  border: none;
  padding: 0 30px;
  background-color: rgb(0, 198, 198);
  color: white;
}
.main .busqueda__boton:hover {
  background-color: rgba(12, 243, 178, 0.784);
}

/*============================================ SECCION FOOTER */
.footer {
  width: 100%;
  height: 250px;
  background-color: rgb(12, 41, 79);
  text-align: center;
  grid-area: footer;
}
.footer__contenedor {
  width: 100%;
  padding-top: 60px;
  display: flex;
}
.footer__icono {
  font-size: 1.4em;
  margin: 15px 15px 0 15px;
  color: white;
}
.footer__parrafo {
  margin-top: 20px;
  margin-bottom: 2px;
  color: rgb(188, 188, 188);
}
.footer__enlace {
  color: white;
  text-decoration: none;
  padding: 0 4px 0 0;
}
.footer__redes-sociales {
  display: flex;
}
.footer__elemento {
  width: 100%;
  height: 1;
  margin: 2px;
  border-bottom: 2px solid rgba(216, 216, 216, 0.535);
}

/* ============================== Medias Queries=======*/
@media (max-width: 425px) {
  .header__titulo {
    font-size: 3em;
  }
}
@media (max-width: 516px) {
  .main .descuentos__subtitulo {
    width: 30%;
    font-size: 1.2em;
  }
}
@media (max-width: 660px) {
  .grid-contenedor {
    padding: 0;
  }
  .header {
    height: 100vh;
  }
  .header__contenedor {
    padding: 0 15px;
  }
  .header .header__icono {
    display: block;
    color: black;
  }
  .header__nav {
    width: 200px;
    height: 100vh;
    background-color: rgb(252, 252, 252);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(-205px);
  }
  .header__nav-enlace {
    color: rgb(167, 164, 164);
  }
  .header__nav-lista {
    flex-direction: column;
  }
  .main .viajes__descripcion {
    width: 90%;
  }
  #menu-nav:checked ~ .header__nav {
    transition: all 1s;
    transform: translateX(0);
  }
  .header__nav-item:hover {
    background-color: rgb(224, 222, 222);
  }
  .header__nav-enlace {
    padding: 0.5em 0.9em;
  }
}
@media (max-width: 366px) {
  .header__titulo {
    font-size: 3.5em;
  }
}
@media (max-width: 936px) {
  .main .descuentos__parrafo {
    width: 40%;
  }
}
/*==================================== ANIMACIONES===*/
@keyframes animate1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*===================================== SECCION HEADER*/
.header--dmodificado {
  background-image: url("../img/header-desierto1.jpg");
}

.header__titulodesierto {
  font-size: 3.4em;
  color: white;
  animation: animate1;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

/*===================================== SECCION MAIN*/
.actividades {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.actividades__contenedor {
  max-width: 1000px;
  height: 320px;
  margin: auto;
}
.actividades__articulo {
  width: 100%;
  height: 100%;
  padding: 30px;
  font-size: 0.9em;
}
.actividades__texto {
  margin-top: 0.9em;
  border-bottom: 1px solid grey;
}
.actividades__column {
  height: 100%;
  margin: 0;
  padding: 0;
}
.actividades__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.actividades__span {
  padding: 3px 15px;
  background-color: rgb(31, 183, 222);
}

/*===================================================*/
/* ============================== Medias Queries=======*/
@media (max-width: 1057px) {
  .actividades__contenedor {
    height: 340px;
  }
}
@media (max-width: 843px) {
  .actividades__subtitulo {
    font-size: 1.5em;
  }
  .actividades__parrafo {
    font-size: 0.9em;
  }
}
@media (max-width: 557) {
  .header__titulodesierto {
    font-size: 1.5em;
  }
}
@media (max-width: 767px) {
  .acti-colum2 {
    display: none;
  }
  .actividades__parrafo {
    display: none;
  }
  .actividades__contenedor {
    height: 200px;
  }
  .actividades__span {
    display: none;
  }
  .actividades__texto {
    border: none;
  }
  .actividades__subtitulo {
    font-size: 1.1em;
    margin: 0;
    line-height: normal;
  }
  .actividades__etiqueta {
    font-size: 1.8em;
    font-weight: bold;
  }
  .actividades__articulo {
    width: 100%;
  }
  .actividades__column1--modificado {
    background-image: url("../img/actividadd-motocros.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .actividades__column2--modificado {
    background-image: url("../img/actividades-duna.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .actividades__column3--modificado {
    background-image: url("../img/ciclismo-desierto.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
/*=============================================== ANIMACIONES */
@keyframes animate1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*================================ HEADER*/
.header--cmodificado {
  background-image: url("../img/ciudadesfondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__titulociudad {
  font-size: 4em;
  color: white;
  animation: animate1;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

/*=================================================*/
/*=================================================== MAIN-CIUIDADES*/
.ciudades {
  width: 100%;
}
.ciudades__row {
  height: 100%;
  padding: 40px 20px;
}
.ciudades__columna {
  padding: 10px;
  height: 100%;
  position: relative;
}
.ciudades__spanlista {
  font-size: 0.9em;
}
.ciudades__conteimg {
  width: 100%;
  height: 250px;
}
.ciudades__img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.ciudades__parrafo {
  font-size: 0.9em;
  text-align: center;
  padding: 5px 0;
  background-color: rgb(233, 233, 233);
}
.ciudades__texto {
  position: absolute;
  top: 210px;
  left: 33px;
  line-height: 15px;
  color: white;
  width: 50%;
  font-size: 0.8em;
}
.ciudades__mas-info {
  width: 100%;
  padding: 0px;
  border: 3px solid rgb(228, 228, 228);
}
.ciudades__lista {
  list-style: none;
  padding: 0;
}
.ciudades__item {
  margin: 10px;
}
.ciudades__imglista {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.excursiones {
  display: flex;
  padding-top: 20px;
}

.excursiones__conteimg {
  width: 50%;
}

.excursiones__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.excursiones__articulo {
  width: 50%;
  padding: 0 30px;
}

/*============================================= Media Queries*/
@media (max-width: 991px) {
  .ciudades__lista--oaxaca {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .ciudades__lista {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .ciudades__spanlista {
    display: block;
  }
  .ciudades__lista--oaxaca {
    display: flex;
    justify-content: center;
  }
  .ciudades__texto {
    top: 220px;
  }
}
@media (max-width: 562px) {
  .excursiones {
    flex-direction: column;
  }
  .excursiones__articulo {
    width: 100%;
  }
  .excursiones__conteimg {
    width: 100%;
  }
}
/*=======================================================*/
/*=============================================== ANIMACIONES */
@keyframes animate1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*===================================== SECCION HEADER*/
.header__titulo--montana {
  font-size: 4em;
  color: rgb(239, 238, 238);
}

/*=================================================*/
/*===================================== SECCION MAIN*/
.main .senderismo {
  width: 100%;
  height: 340px;
  position: relative;
  background-image: url("../img/senderismo--bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}
.main .senderismo__contenedor {
  width: 50%;
  height: 250px;
  margin-right: 100px;
}
.main .senderismo__contenedor2 {
  width: 50%;
  height: 250px;
  margin-right: 340px;
}
.main .senderismo__texto {
  margin-top: 70px;
  color: white;
}
.main .senderismo__texto2 {
  margin-top: 20px;
  color: white;
}
.main .senderismo__parrafo {
  color: white;
  width: 75%;
  margin-top: 20px;
}
.main .senderismo__parrafo2 {
  color: white;
  width: 75%;
  margin-top: 20px;
}
.main .senderismo__conteimg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: -60px;
  left: 120px;
  z-index: 1;
}
.main .senderismo__img {
  width: 100%;
  margin: auto;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.main .senderismo__conteimg2 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -60px;
  right: 120px;
  z-index: 1;
}
.main .senderismo__img2 {
  width: 100%;
  margin: auto;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.main .rutas {
  width: 100%;
  height: auto;
  padding: 60px 100px;
}
.main .rutas__parrafo {
  width: 100%;
  color: rgb(239, 238, 238);
  font-family: "Comfortaa";
  font-size: 1em;
  margin-top: 50px;
}
.main .ancho-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.main .card__parrafo {
  color: white;
  font-family: "Comfortaa";
  font-size: 0.9em;
}
.main .senderismo--modificado {
  background-image: url("../img/senderismo2-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main--bg {
  background-color: rgb(22, 22, 22);
}

/*=================================== MEDIA QUERIES*/
@media (max-width: 1232px) {
  .senderismo__conteimg, .senderismo__conteimg2 {
    display: none;
  }
  .main .senderismo {
    justify-content: center;
    height: 350px;
  }
  .main .senderismo__parrafo {
    width: 100%;
    margin-bottom: 0;
  }
  .main .senderismo__parrafo2 {
    width: 100%;
    margin-bottom: 0;
  }
  .main .senderismo__contenedor {
    margin-right: 0;
    text-align: center;
    width: 80%;
  }
  .main .senderismo__contenedor2 {
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .main .rutas {
    width: 100%;
    flex-direction: column;
  }
  .rutas .rutas__parrafo {
    width: 100%;
    margin-top: 40px;
  }
  .rutas .ancho-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
}
@media (max-width: 560px) {
  .main .rutas {
    padding: 20px;
  }
  .grid-contenedor {
    padding: 0;
  }
}
/*===================================== SECCION HEADER*/
.header__titulo {
  color: rgb(239, 238, 238);
}

.header--pmodificado {
  background-image: url("../img/Playa-del-Carmen.jpg");
}

.card--playa {
  width: 200px;
}

.card-img-playa {
  height: 200px;
}

/*===================================== SECCION MAIN*/
.main__modificado--playa {
  text-align: center;
  padding-bottom: 30px;
}
.main__contenedor--playa {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 40px;
}
.main__titulo {
  margin-top: 30px;
}
.main .aventura {
  width: 100%;
  height: auto;
  position: relative;
}
.main .aventura__articulo {
  width: 90%;
  margin: auto;
  padding: 60px;
}
.main .aventura__body {
  width: 100%;
}
.main .aventura__body .bg-boton {
  background-color: rgb(253, 146, 58);
}
.main .aventura__conteimg {
  width: 270px;
  height: 270px;
  position: absolute;
  top: 180px;
  left: 70px;
  z-index: 1;
}
.main .aventura__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.main .aventura .card-title {
  margin-bottom: 20px;
  font-size: 2.1em;
}
.main .card--playa {
  width: 300px;
  margin: 10px;
}

/*============================= media queries*/
@media (max-width: 808px) {
  .card-text {
    font-size: 1.5em;
  }
  .header__titulosize {
    font-size: 3.3em;
  }
}
@media (max-width: 560px) {
  .main .aventura__articulo {
    padding: 20px;
  }
  .card-text {
    font-size: 1.1em;
  }
  .header__texto {
    width: 80%;
    margin: auto;
  }
  .header__titulosize {
    font-size: 2em;
    color: white;
  }
  .header {
    height: 100vh;
  }
  .main__contenedor--playa {
    flex-direction: column;
  }
  .main .card--playa {
    width: 100%;
    margin: 10px;
  }
  .card-img-playa {
    width: 100%;
    object-fit: cover;
  }
}
/*=========================================================*/

/*# sourceMappingURL=style.css.map */
